html {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  /*
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
*/
background-image: url("./images/background.png")
}

 nav {
   color: white;
   font-size: 18px;
 }

 h2 {
   font-size: 32px;
   font-weight: bold;
 }

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#designed {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  color: white;
  font-size: 23px;
  font-weight: bold;
}

h4 {
  color: white;
  background-color: dimgray;
  text-align: left;
  font-size: 11px;
}

#bottom {
  font-size: 18px;
  color: white;
}
